<h1>These are the ingredients you will need for: $recipe.getName().</h1>

<h3>Ingredients:</h3>
  <p>recipe.getIngredients()</p>

<h1>These are the instructions to follow to make: recipe.getName().<h1>

<h3>Instructions</h3>
  <p>recipe.getInstructions</p>
